@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mixin;

/**
 * Cards
 *
 * Available variables tokens:
 * - $card-title-font-size
 * - $card-title-font-weight
 * - $card-content-padding
 * - $card-content-font-size
 * - $card-shadow
 * - $card-shadow-over
 * - $card-border-radius
 * - $card-accent-color
 * - $card-accent-color-foreground
 *
 * Example HTML:
 * ---
 * <article class="card">
 *   <figure class="card-cover">
 *     <img src="" alt="">
 *   </figure>
 *   <div class="card-content">
 *     <div class="card-content__text">
 *       <h3 class="card-content__title"> ... </h3>
 *       <p class="card-content__description"> ... </p>
 *       <a class="card-content__link" href=""> ... </a>
 *     </div>
 *     <div class="card-content__like">
 *       <label class="like" for="restaurant-1">
 *         <span class="sr-only"> ... </span>
 *         <input id="restaurant-1" type="checkbox">
 *         <i class="like__icon icon-heart" aria-hidden="true"></i>
 *         <i class="like__icon icon-heart-plain" aria-hidden="true"></i>
 *       </label>
 *     </div>
 *   </div>
 * </article>
 * -------------------------------------------------------------------------- */
// Component
.card {
  position: relative;
  border-radius: token.$card-border-radius;
  overflow: hidden;
  font-size: token.$card-content-font-size;
  @include mixin.shadow(token.$card-shadow);

  // Prevent hover on touch devices
  @media (hover: hover) {
    transition: box-shadow 300ms ease-in-out;
    &:hover {
      @include mixin.shadow(token.$card-shadow-over);
    }
  }

  // Card cover
  // define default image size. Can be overwritten by higher specificity
  img {
    @include mixin.aspect-ratio(400, 200);
    @include mixin.media(large) {
      @include mixin.aspect-ratio(500, 200);
    }
  }

  // Card-content
  // define default title style. Can be overwritten by higher specificity
  :where(h1, h2, h3, h4) {
    font-size: token.$card-title-font-size;
    font-weight: token.$card-title-font-weight;
  }

  // Checkbox
  // hide the checkbox/radio
  input:where([type="checkbox"], [type="radio"]) {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: token.$card-content-padding;

    &__like {
      display: grid;
      place-content: center;
    }

    &__link {
      position: absolute;
      inset: 0;
      text-indent: -100vmax;
    }
  }
}
