@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

/**
 * Cards
 * -------------------------------------------------------------------------- */
// var: Font
$title-font-size: var.$fs-medium !default;
$content-font-size: var.$fs-normal !default;

// var: Shadow
$shadow: var.$shadow-200 !default;
$shadow-over: var.$shadow-300 !default;
$border-radius: var.$radius-medium !default;

// var: Accent color
$accent-color: var.$clr-accent !default;
$accent-color-foreground: var.$clr-neutral-100 !default;

// Component
.card {
  position: relative;
  border-radius: $border-radius;
  overflow: hidden;
  font-size: $content-font-size;
  @include mixin.shadow($shadow);

  // Prevent hover on touch devices
  @media (hover: hover) {
    transition: box-shadow 300ms ease-in-out;
    &:hover {
      @include mixin.shadow($shadow-over);
    }
  }

  // Card cover
  // define default image size. Can be overwritten by higher specificity
  img {
    @include mixin.aspect-ratio(400, 200);
    @include mixin.media(large) {
      @include mixin.aspect-ratio(500, 200);
    }
  }

  // Card-content
  // define default title style. Can be overwritten by higher specificity
  :where(h1, h2, h3, h4) {
    font-size: $title-font-size;
    font-weight: var.$fw-medium;
  }

  // Checkbox
  // hide the checkbox/radio
  input:where([type="checkbox"], [type="radio"]) {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: var.$space-small var.$space-medium;

    &__like {
      display: grid;
      place-content: center;
    }

    &__link {
      position: absolute;
      inset: 0;
      text-indent: -100vmax;
    }
  }
}
