@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mixin;
@use "../abstracts/animations" as animation;

/**
 * Like
 *
 * Available variables tokens:
 * ---
 * $like-icon-color
 * $like-icon-color-active
 *
 * Example HTML:
 * ---
 * <label class="like" for="restaurant-1">
 *   <span class="sr-only">Ajouter ce plat aux favoris</span>
 *   <input class="like__input" id="restaurant-1" type="checkbox">
 *   <i class="like__icon icon-heart" aria-hidden="true"></i>
 *   <i class="like__icon icon-heart-plain" aria-hidden="true"></i>
 * </label>
 * -------------------------------------------------------------------------- */
.like {
  display: grid;
  position: relative;
  z-index: 1;
  cursor: pointer;
  scale: 1;
  transition: scale 150ms ease-in-out;

  &:hover {
    scale: 1.2;
  }

  &__icon {
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    font-size: 1.5rem;
  }

  &__input {
    display: none;
  }

  .icon-heart {
    color: token.$like-icon-color;
    transition: color 150ms ease-in-out;
  }

  .icon-heart-plain {
    background: token.$like-icon-color-active;
    @include mixin.mask();
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }

  & > input[type="checkbox"]:checked ~ .icon-heart-plain {
    opacity: 1;
    @include animation.bounce($scale: 1);
  }
}
