@use "../abstracts/variables" as var;
@use "../abstracts/animations" as animation;

$loader-background: var.$clr-neutral-100;
.loader {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: grid;
  place-content: center;
  pointer-events: none;

  opacity: 1;

  background-color: rgba($loader-background, 1);
  backdrop-filter: blur(5px);

  text-transform: uppercase;
  font-weight: var.$fw-medium;
  color: var.$clr-neutral-800;
  font-family: var.$ff-cursive;

  @include animation.reveal($duration: 300ms, $delay: 5s);

  &__content {
    position: relative;
    width: min-content;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var.$clr-neutral-100;
    border-radius: 100vmax;
    padding: 1.5rem;
    font-size: 2rem;

    span {
      // animation: beat 1.5s infinite ease-in-out;
      background: linear-gradient(
        to bottom,
        var.$clr-gradient-1,
        var.$clr-gradient-2
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      inset: 1.5rem 0 0;
      background: linear-gradient(
        to right,
        var.$clr-gradient-1,
        var.$clr-gradient-2
      );
      filter: blur(1.5rem);
      opacity: 0.85;
      border-radius: inherit;
      @include animation.spin($duration: 1s);
    }
  }
}

@keyframes beat {
  50% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
