@use "./cards" as card;
@use "../abstracts/variables" as var;
@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mixin;
@use "../abstracts/animations" as animation;

/**
 * Menu Item
 * @extends .card
 *
 * Available variables tokens:
 * ---
 * - $card-title-font-size
 * - $card-title-font-weight
 * - $card-content-padding
 * - $card-content-font-size
 * - $card-shadow
 * - $card-shadow-over
 * - $card-border-radius
 * - $card-accent-color
 * - $card-accent-color-foreground
 *
 * Local variables:
 * ---
 * - $_icon-size
 * - $_checkbox-max-width
 *
 * Example HTML:
 * ---
 * <label class="menu-option fade-in delay-100" for="entree-1">
 *   <div class="menu-option__description">
 *     <h3 class="menu-option__title"> ... </h3>
 *     <p class="menu-option__subtitle"> ... </p>
 *   </div>
 * 
 *   <div class="menu-option__price">
 *     <span class="menu-option__price--value"> ... </span>
 *     <span class="menu-option__price--currency"> ... </span>
 *   </div>
 * 
 *   <input type="radio" name="entree" id="entree-1">
 *   <div class="menu-option__checkbox">
 *     <i class="icon-check" aria-hidden="true"></i>
 *   </div>
 * </label>
 *
 * -------------------------------------------------------------------------- */

$_icon-size: calc(token.$card-title-font-size * 1.125);
$_checkbox-max-width: 69px;

.menu-option {
  @extend .card;
  display: flex;

  &__description,
  &__price {
    padding: token.$card-content-padding;
    will-change: auto;
  }

  // Text
  // Generally contains a title and a description
  &__description {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;

    & > * {
      @include mixin.text-ellipsis();
    }
  }

  // Price
  &__price {
    align-self: flex-end;
    font-weight: token.$card-title-font-weight;
  }

  // Checkbox
  // The checkbox is hidden by default replaced by an icon
  &__checkbox {
    display: grid;
    place-content: center;
    & > i {
      grid-column: 1;
      grid-row: 1;
    }
    background-color: token.$card-accent-color;
    color: token.$card-accent-color-foreground;
    width: $_checkbox-max-width;
    max-width: 0;
    transition: max-width 150ms ease-in-out;
    overflow: hidden;

    i {
      font-size: $_icon-size;
      opacity: 0.5;
      pointer-events: none;
      transition: opacity 150ms ease-in-out 150ms;
    }
  }

  label {
    position: absolute;
    inset: 0;
    text-indent: -100vmax;
    cursor: pointer;
  }

  // Hover action
  @media (hover: hover) {
    &:hover > .menu-option__checkbox {
      max-width: calc($_icon-size + 1rem);
      transition: max-width 300ms ease-in-out;
    }
  }

  // Active state
  & > input:checked ~ .menu-option__checkbox {
    max-width: $_checkbox-max-width;

    i {
      opacity: 1;
      // transition: opacity 300ms ease-in-out 600ms;
      @include animation.bounce($delay: 150ms, $scale: 1.75);
    }
  }
}
