@use "../abstracts/variables" as var;

/**
 * Step list
 *
 * Available variables tokens:
 * ---
 *
 * Example HTML:
 * ---
<ul class="nav">
<li class="nav__item">
<a class="nav__link" href="#"><i class="icon-ustencils" aria-hidden="true"></i> Proposer un restaurant</a>
</li>
<li class="nav__item">
<a class="nav__link" href="#"><i class="icon-hands" aria-hidden="true"></i>Devenir partenaire</a>
</li>
</ul>
 * -------------------------------------------------------------------------- */
.nav {
  list-style: none;

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  [class*="icon-"] {
    margin-right: var.$space-small;
  }
}
