// Palette colors ----------------------------------------------

// Primary color
$clr-primary: #ff79da;
$clr-primary-dark: #9356dc;

// Accent color
$clr-accent: #99e2d0;
$clr-accent-dark: #008766;

// Neutral colors
$clr-neutral-900: #101010; // Defined in DSM
$clr-neutral-800: #353535; // Defined in DSM
$clr-neutral-700: #505050;
$clr-neutral-600: #707070;
$clr-neutral-500: #909090;
$clr-neutral-400: #b0b0b0;
$clr-neutral-300: #d0d0d0;
$clr-neutral-200: #f6f6f6; // Defined in DSM
$clr-neutral-100: #ffffff; // Defined in DSM

// Semantic colors ----------------------------------------------

$button-gradient: linear-gradient(
  to bottom,
  $clr-primary 0%,
  $clr-primary-dark 100%
);
