@use "./variables" as var;

// TOKENS
// the smallest indivisible units of design. They are the variables that define
// the design system.
// ------------------------------------------------------------------------------

// Document
$body-font-family: var.$ff-sans;
$body-font-weight: var.$fw-normal;
$body-font-size: var.$fs-normal;
$body-color-text: var.$clr-neutral-900;
$body-color-heading: var.$clr-neutral-900;
$body-color-accent: var.$clr-accent;
$body-color-background: var.$clr-neutral-100;

// Heading
$heading-font-family: var.$ff-sans;
$heading-font-weight: var.$fw-bold;
$heading-font-size-h1: var.$fs-xlarge;
$heading-font-size-h2: var.$fs-large;
$heading-font-size-h3: var.$fs-medium;
$heading-font-size-h4: var.$fs-normal;

// Header
$header-padding: var.$space-medium;
$header-logo-mobile-width: 10rem;
$header-logo-desktop-width: 12.5rem;
$header-color-background: var.$clr-neutral-100;
$header-color-text: var.$clr-neutral-900;
$header-shadow: var.$shadow-100;
$header-icon-size: var.$fs-medium;

// Footer
$footer-padding-mobile: var.$space-medium;
$footer-padding-desktop: var.$space-xlarge var.$space-large var.$space-medium;
$footer-gap-mobile: var.$space-small;
$footer-gap-desktop: var.$space-large;
$footer-color-background: var.$clr-neutral-800;
$footer-color-text: var.$clr-neutral-100;
$footer-font-size: var.$fs-normal;
$footer-title-font-family: var.$ff-cursive;

// Cards
$card-shadow: var.$shadow-200;
$card-shadow-over: var.$shadow-300;
$card-border-radius: var.$radius-medium;
$card-content-padding: var.$space-medium;
$card-icon-size: var.$fs-large;
$card-action-background: var.$clr-accent;
$card-action-color: var.$clr-neutral-100;

// Location
$location-color-background: var.$clr-neutral-300;
$location-padding: var.$space-small;
$location-icon-size: var.$fs-large;
$location-icon-color: var.$clr-accent;
$location-icon-margin: var.$space-small;
$location-font-weight: var.$fw-medium;
