/**
 * Reset
 * ========================================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent tap highlight on IOS */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/**
 * Fonts
 * load fonts locally instead of from Google Fonts CDN to avoid FOIT 
 * and avoid google tracking
 * ========================================================================== */
@font-face {
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("../fonts/shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("../fonts/shrikhand/Shrikhand-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: light;
  font-weight: 300;
  src: url("../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/roboto/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "icomoon";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg");
}
/**
 * ICONS
 * icones are generated with https://icomoon.io/app/#/select 
 * from Figma icone library
 * ========================================================================== */
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon";
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}

.icon-hands:before {
  content: "\e901";
}

.icon-heart-plain:before {
  content: "\e902";
}

.icon-heart:before {
  content: "\e903";
}

.icon-list:before {
  content: "\e904";
}

.icon-check:before {
  content: "\e905";
}

.icon-phone:before {
  content: "\e906";
}

.icon-ustencils:before {
  content: "\e907";
}

.icon-store:before {
  content: "\e908";
}

.icon-location:before {
  content: "\e909";
}

/**
 * Base
 * ========================================================================== */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #101010;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

/**
 * COMPONENTS
 * ========================================================================== */
.button {
  position: relative;
  isolation: isolate;
  display: inline-flex;
  background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 0.75rem 1.125rem;
  font-weight: 500;
  border-radius: 100vmax;
  transition: box-shadow 200ms ease-in-out;
  box-shadow: 0 4px 8px hsla(0, 0%, 6%, 0.15);
}
.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
.button:hover {
  box-shadow: 0 4px 16px hsla(0, 0%, 6%, 0.15);
}
.button:hover::after {
  opacity: 0.1;
}

.location-search {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  font-weight: 500;
  background-color: #eaeaea;
}
.location-search input {
  background: transparent;
  border: none;
  outline: none;
}

/**
 * Cards
 * -------------------------------------------------------------------------- */
.card, .menu-option {
  position: relative;
  border-radius: 1.125rem;
  overflow: hidden;
  font-size: 1rem;
  box-shadow: 0 4px 8px hsla(0, 0%, 6%, 0.15);
}
@media (hover: hover) {
  .card, .menu-option {
    transition: box-shadow 300ms ease-in-out;
  }
  .card:hover, .menu-option:hover {
    box-shadow: 0 4px 16px hsla(0, 0%, 6%, 0.15);
  }
}
.card img, .menu-option img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 2;
}
@media screen and (min-width: 1024px) {
  .card img, .menu-option img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2.5;
  }
}
.card :where(h1, h2, h3, h4), .menu-option :where(h1, h2, h3, h4) {
  font-size: 1.125rem;
  font-weight: 500;
}
.card input:where([type=checkbox], [type=radio]), .menu-option input:where([type=checkbox], [type=radio]) {
  display: none;
}
.card-content {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0.75rem 1.125rem;
}
.card-content__like {
  display: grid;
  place-content: center;
}
.card-content__link {
  position: absolute;
  inset: 0;
  text-indent: -100vmax;
}

/**
 * NAVS
 * -------------------------------------------------------------------------- */
.nav {
  list-style: none;
}
.nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.nav [class*=icon-] {
  margin-right: 0.75rem;
}

.like {
  display: grid;
  position: relative;
  z-index: 1;
  cursor: pointer;
  scale: 1;
  transition: scale 150ms ease-in-out;
}
.like:hover {
  scale: 1.2;
}
.like__icon {
  grid-column: 1;
  grid-row: 1;
  place-self: center;
  font-size: 1.5rem;
}
.like__input {
  display: none;
}
.like .icon-heart {
  color: #101010;
  transition: color 150ms ease-in-out;
}
.like .icon-heart-plain {
  background: linear-gradient(to bottom, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.like > input[type=checkbox]:checked ~ .icon-heart-plain {
  opacity: 1;
  animation: 300ms bounce 0s ease-in-out;
}
@keyframes bounce {
  50% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}

/**
 * Cards
 *
 * Tokens:
 * $steps-list-color-background
 * $steps-list-color-text
 * $steps-list-color-icon:
 * $steps-list-color-number
 * $steps-list-padding
 * -------------------------------------------------------------------------- */
.steps-list {
  counter-reset: step;
  list-style: none;
  padding: 0;
}
.steps-list__item {
  counter-increment: step;
  display: flex;
  align-items: center;
  gap: 1.125rem;
  padding: 1.125rem;
  margin-left: 0.5625rem;
  background-color: #f6f6f6;
  border-radius: 1.125rem;
  box-shadow: 0 4px 8px hsla(0, 0%, 6%, 0.15);
  color: #101010;
  font-weight: 500;
  line-height: 1.2;
}
.steps-list__item [class^=icon-] {
  color: #7e7e7e;
}
.steps-list__item::before {
  content: counter(step);
  display: grid;
  place-content: center;
  width: 24px;
  height: 24px;
  margin-left: -1.6875rem;
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 100vmax;
  flex-shrink: 0;
}

/**
 * Menu Item
 * @extends .card
 *
 * @example:
 *
 * -------------------------------------------------------------------------- */
.menu-option {
  display: grid;
  grid-template-columns: 1fr auto auto;
  max-height: 69px;
  cursor: pointer;
}
.menu-option__description, .menu-option__price {
  padding: 0.75rem 1.125rem;
  will-change: auto;
}
.menu-option__description {
  overflow: hidden;
  white-space: nowrap;
}
.menu-option__description > * {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.menu-option__price {
  align-self: flex-end;
  font-weight: 700;
}
.menu-option__checkbox {
  display: grid;
  place-content: center;
  background-color: #99e2d0;
  color: #ffffff;
  width: 69px;
  max-width: 0;
  transition: max-width 150ms ease-in-out;
}
.menu-option__checkbox > i {
  grid-column: 1;
  grid-row: 1;
}
.menu-option__checkbox i {
  font-size: 1.265625rem;
  opacity: 0.5;
  transition: opacity 150ms ease-in-out 150ms;
}
.menu-option:hover > .menu-option__checkbox {
  max-width: 2.265625rem;
  transition: max-width 300ms ease-in-out;
}
.menu-option > input:checked ~ .menu-option__checkbox {
  max-width: 69px;
}
.menu-option > input:checked ~ .menu-option__checkbox i {
  opacity: 1;
  animation: 300ms bounce 150ms ease-in-out;
}
@keyframes bounce {
  50% {
    scale: 1.75;
  }
  100% {
    scale: 1;
  }
}

/**
 * LAYOUT
 * ========================================================================== */
/**
 * GLOBAL
 * -------------------------------------------------------------------------- */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content-section, .content-header {
  padding: 2.5rem 1.125rem;
}

.content-section > * {
  width: min(1040px, 100%);
  margin-inline: auto;
}
.content-section__list {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gap);
  margin-block: 1.125rem;
}

/**
 * HEADER
 * -------------------------------------------------------------------------- */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 1.125rem;
  background-color: #ffffff;
  color: #101010;
  box-shadow: 0 2px 4px hsla(0, 0%, 6%, 0.15);
}
.header__logo {
  margin-inline: auto;
  max-width: 10rem;
}
@media screen and (min-width: 720px) {
  .header__logo {
    max-width: 12.5rem;
  }
}
.header__go-back {
  position: absolute;
  z-index: 1;
  color: inherit;
  text-decoration: none;
  font-size: 1.125rem;
}

/**
 * FOOTER
 * -------------------------------------------------------------------------- */
.footer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.125rem;
  background-color: #353535;
  color: #ffffff;
  font-size: 1rem;
}
@media screen and (min-width: 720px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 5rem;
    padding: 3rem 2.5rem 1.125rem;
  }
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
@media screen and (min-width: 480px) {
  .footer__nav {
    flex-direction: row;
    gap: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer .nav {
    display: flex;
    gap: 0.75rem;
  }
}

.content-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
}
.content-header__title {
  font-size: 1.5rem;
}
.content-header__text {
  font-size: 1.125rem;
  margin-top: 0.75rem;
}
.content-header__cta {
  margin-top: 2.5rem;
}

.section--how-to {
  background-color: #ffffff;
}
.section--how-to .steps-list {
  display: grid;
  gap: 1.125rem;
}
@media screen and (min-width: 720px) {
  .section--how-to .steps-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
.section--restaurants {
  --columns: 1;
  --gap: 1.125rem;
  background-color: #f6f6f6;
}
@media screen and (min-width: 720px) {
  .section--restaurants {
    --columns: 2;
    --gap: 2.5rem;
  }
}

.restaurant-cover img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 375/275;
}
@media screen and (min-width: 720px) {
  .restaurant-cover img {
    aspect-ratio: 1440/380;
  }
}
.restaurant-header__heading {
  width: min(1040px, 100%);
  margin-inline: auto;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.125rem;
  padding: 2.5rem;
  border-radius: 1.25rem 1.25rem 0 0;
  margin-top: -2.5rem;
  background-color: #f6f6f6;
}
.restaurant-header__title {
  font-size: 1.5rem;
}
.restaurant-section {
  background-color: #f6f6f6;
  width: min(1040px, 100%);
  margin-inline: auto;
  padding-block: 1.125rem 2.5rem;
}
.restaurant-section form {
  width: min(630px, 90%);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.restaurant-section fieldset {
  border: none;
  padding: 0;
  display: grid;
  gap: 0.75rem;
}
.restaurant-section legend {
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}
.restaurant-section legend::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
.restaurant-section .button {
  align-self: center;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*# sourceMappingURL=style.css.map */
