@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mixin;

/**
 * GLOBAL
 * -------------------------------------------------------------------------- */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

%sections {
  padding: var.$space-large var.$space-medium;
}

.content {
  &-header {
    @extend %sections;
  }

  &-section {
    @extend %sections;

    & > * {
      width: min(1040px, 100%);
      margin-inline: auto;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(var(--columns), 1fr);
      gap: var(--gap);
      margin-block: var.$space-medium;
    }
  }
}
