@use "../abstracts/variables" as var;

/**
 * GLOBAL
 * -------------------------------------------------------------------------- */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

section {
  padding: var.$space-medium;
}
